* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*=====navbar=====*/
.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-brand span {
  color: #ff9f1c;
}
.btn-search {
  background-color: #ff9f1c;
}
.btn-search:hover {
  background-color: white;
}
.nav-active {
  background-color: #ff9f1c;
  border-radius: 10px;
}
.navbar-dark .navbar-brand {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.nav-item:hover {
  background-color: black;
  border-radius: 10px;
}
.navbar-toggler {
  border-color: #ff9f1c;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 159, 28, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*===== Hero =====*/
.carousel-item {
  min-height: 170px;
}
.carousel-caption {
  bottom: 280px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 45px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 25px;
  font-weight: bold;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.btn-hero {
  background-color: #ff9f1c;
}
/*==================================================Responsive==================================================*/
/*=====Extra Small=====*/
@media only screen and (max-width: 575.95px) {
  .carousel-item {
    max-height: 180px;
  }
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 10px;
  }
  .carousel-caption h5 {
    font-size: 20px;
  }
  .carousel-caption a {
    padding: 4px 8px;
  }
  .why-icon img {
    max-height: 25px;
    max-width: 25px;
  }
  /*Contact*/
  .contact {
    padding: 50px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  .contact-container .contact-form {
    width: 100%;
  }
}
/*=====Small=====*/
@media only screen and (min-width: 576px) and (max-width: 767.95px) {
  .carousel-item {
    min-height: 240px;
    max-height: 405px;
  }
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 40px;
  }
  .carousel-caption h5 {
    font-size: 30px;
  }
  .carousel-caption a {
    padding: 8px 16px;
  }
  .why-icon img {
    max-height: 30px;
    max-width: 30px;
  }
  /*Contact*/
  .contact {
    padding: 50px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  .contact-container .contact-form {
    width: 100%;
  }
}
/*=====Medium=====*/
@media only screen and (min-width: 768px) and (max-width: 991.95px) {
  .carousel-item {
    min-height: 405px;
    max-height: 576px;
  }
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 120px;
  }
  .carousel-caption h5 {
    font-size: 50px;
  }
  .carousel-caption a {
    padding: 10px 20px;
  }
  .why-icon img {
    max-height: 40px;
    max-width: 40px;
  }
  /*Contact*/
  .contact {
    padding: 50px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  .contact-container .contact-form {
    width: 100%;
  }
}
/*=====Large=====*/
@media only screen and (min-width: 992px) and (max-width: 1199.95px) {
  .carousel-item {
    min-height: 576px;
    max-height: 670px;
  }
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 200px;
  }
  .carousel-caption h5 {
    font-size: 80px;
  }
  .carousel-caption a {
    padding: 12px 24px;
  }
  .why-icon img {
    max-height: 60px;
    max-width: 60px;
  }
}
/*=====Extra Large=====*/
@media only screen and (min-width: 1200px) and (max-width: 1399.95px) {
  .carousel-item {
    min-height: 670px;
  }
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 300px;
  }
  .carousel-caption h5 {
    font-size: 100px;
  }
  .carousel-caption a {
    padding: 14px 28px;
  }
  .why-icon img {
    max-height: 60px;
    max-width: 60px;
  }
}
/*=====Extra Extra Large=====*/
@media only screen and (min-width: 1400px) {
  .carousel-item {
    min-height: 670px;
  }
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 300px;
  }
  .carousel-caption h5 {
    font-size: 100px;
  }
  .carousel-caption a {
    padding: 14px 28px;
  }
  .why-icon img {
    max-height: 60px;
    max-width: 60px;
  }
}
/*==================================================Responsive==================================================*/
/*=====Why section=====*/
.why {
  padding: 50px 0;
}
/*=====About section=====*/
.about {
  padding: 50px 0;
  color: white;
  position: relative;
  min-height: 80vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5) url(./pictures/AboutC.jpg);
  background-size: cover;
  background-blend-mode: darken;
  background-position: center center;
}
.about-content h2,
.about-content h1 {
  color: #ff9f1c;
}
.btn-hero:hover {
  background-color: white;
  color: black;
}
.about-content p {
  max-width: 800px;
}
/*=====Service section=====*/
.service {
  padding: 50px 0;
}
.service-one {
  padding: 15px;
  width: 100%;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
  transition: 0.5s all ease-in-out;
  border-radius: 10px;
  position: relative;
}
.service-one:hover {
  scale: 1.1;
}
.service-one .service-button {
  position: absolute;
  bottom: 25px;
}
.service-button button {
  height: 50px;
  width: 200px;
  border-radius: 20px;
  background-color: white;
  transition: 0.5s;
}
.service-button button:hover {
  background-color: #ff9f1c;
  scale: 1.1;
}
.service-button button a {
  text-decoration: none;
  color: black;
}

/*=====Contact section=====*/
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(2, 25, 39, 0.5) url(./pictures/ContactC.jpg);
  background-size: cover;
  background-blend-mode: darken;
  color: white;
}
.contact .contact-content {
  max-width: 800px;
  text-align: center;
}
.contact-content h1 {
  font-weight: bold;
}
.contact-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}
.contact-container .contact-info {
  width: 100%;
}
.contact-container .contact-info .contact-box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact-container .contact-info .contact-box .contact-icon {
  background-color: #ff9f1c;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}
.contact-container .contact-info .contact-box .contact-text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: white;
  flex-direction: column;
  font-weight: 300;
}
.contact-container .contact-info .contact-box .contact-text h3 {
  font-weight: 500;
  color: #ff9f1c;
}
.contact-form {
  border-radius: 10px;
  width: 40%;
  padding: 40px;
  background-color: white;
}
.contact-form h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contact-form .contact-inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact-form .contact-inputbox input,
.contact-form .contact-inputbox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contact-form .contact-inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contact-form .contact-inputbox input:focus ~ span,
.contact-form .contact-inputbox input:valid ~ span,
.contact-form .contact-inputbox textarea:focus ~ span,
.contact-form .contact-inputbox textarea:valid ~ span {
  color: #ff9f1c;
  font-size: 12px;
  transform: translateY(-20px);
}
.contact-form .contact-inputbox input[type="submit"] {
  width: 100px;
  background: #ff9f1c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
/*=====Footer section=====*/
.footer {
  padding: 30px 0;
}
.footer .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.footer .social-link li {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
}
.footer .social-link li a {
  background-color: #ff9f1c;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}
.footer p {
  color: rgb(145, 145, 145);
  text-align: center;
  margin-top: 17px;
}
.footer p span {
  color: #ff9f1c;
}
