body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("./HeroR.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
